<div class="modal fade" id="add-programme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">Add Programme</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Stream" asp-action="AddProgramme">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">College</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-size="7" data-style="btn btn-primary btn-round" placeholder="College" name="CollegeId" title="College" required="true">
                                <option disabled selected value="select-type">-- select Type --</option>
                                @foreach (var college in ViewBag.colleges)
                                {
                                    <option value="@college.CollegeId">@college.CollegeName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Faculty</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-size="7" data-style="btn btn-primary btn-round" placeholder="College" name="FacultyId" title="Faculty" required="true">
                                <option disabled selected value="select-type">-- select Type --</option>
                                @foreach (var faculty in ViewBag.faculties)
                                {
                                    <option value="@faculty.FacultyId">@faculty.FacultyName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Department</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-size="7" data-style="btn btn-primary btn-round" placeholder="Department" name="DepartmentId" title="Department" required="true">
                                <option disabled selected value="select-type">-- select Type --</option>
                                @foreach (var department in ViewBag.departments)
                                {
                                    <option value="@department.DepartmentId">@department.DepartmentName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Programme Name</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" class="form-control" name="ProgrammeName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Programme Tag</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" class="form-control" name="ProgrammeTag">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Save Changes</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
